@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*
 * Global Styles
 */
body {
    font-family: "Open Sans", sans-serif;
    background-color: #f4f4f4;
    margin: 50px 100px;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 50px;
    box-sizing: border-box;
    border: 3px solid black;
}

.cabecalho hr {
    position: absolute;
    border: 1px solid black;
    width: 50%;
    align-items: flex-end;
}

.cabecalho h1 {
    font-size: 2em;
    font-weight: 500;
}

.cabecalho h2 {
    font-size: 1em;
    font-weight: 500;
    color: #52AE63;
    
}

.cabecalho p {
    font-size: 1em;
    font-weight: 600;
    margin: 0;   
}

#skills h2 {
    font-size: 1em;
    font-weight: 500;
    color: #52AE63;
}

#skills p {
    font-size: 1em;
    font-weight: 600;
    margin: 0;   
}

#education h2{
    font-size: 1em;
    font-weight: 500;
    color: #52AE63;
}

#education h3{
    font-size: 1em;
    font-weight: 600;
    color: #287AC6;
    margin: 0;
}

#education p{
    margin: 0;
    font-weight: 600;
}

#experience h2{
    font-size: 1em;
    font-weight: 500;
    color: #52AE63;
}

#experience h3{
    font-size: 1em;
    font-weight: 600;
    color: #287AC6;
    margin: 0;
}

#experience p{
    margin: 0;
    font-weight: 600;
}

.experiencie_container {
    margin-top: 20px;
}

#internet h2{
    font-size: 1em;
    font-weight: 500;
    color: #52AE63;
}

#internet p {
    font-size: 1em;
    font-weight: 600;
    margin: 0;   
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.8em;
    color: #888;
    font-weight: 600;
}